<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- MyBatis 매퍼 파일로, 데이터베이스 쿼리와 자바 객체를 연결하기 위한 XML 구성 -->
<!-- mapper에 접근할 클래스명 또는 인터페이스명을 정의 -->
<mapper namespace="mapper.UsersMapper">
    <!-- users 테이블의 결과를 매핑하기 위한 resultMap 설정 -->
    <resultMap type="dto.UsersDTO" id="users">
        <!-- 데이터베이스의 user_number 칼럼과 DTO의 userNumber 프로퍼티를 연결 -->
        <id column="user_number" property="userNumber" />
        <!-- 데이터베이스의 login_ID 칼럼과 DTO의 loginId 프로퍼티를 연결 -->
        <result column="login_ID" property="loginId" />
        <!-- 데이터베이스의 nick_name 칼럼과 DTO의 nickName 프로퍼티를 연결 -->
        <result column="nick_name" property="nickName" />
        <!-- 데이터베이스의 create_time 칼럼과 DTO의 createTime 프로퍼티를 연결 -->
        <result column="create_time" property="createTime" />
        <!-- 데이터베이스의 update_time 칼럼과 DTO의 updateTime 프로퍼티를 연결 -->
        <result column="update_time" property="updateTime" />
        <!-- 데이터베이스의 pw_update_time 칼럼과 DTO의 pwUpdateTime 프로퍼티를 연결 -->
        <result column="pw_update_time" property="pwUpdateTime" />
        <!-- 데이터베이스의 user_name 칼럼과 DTO의 userName 프로퍼티를 연결 -->
        <result column="user_name" property="userName" />
        <!-- 데이터베이스의 user_email 칼럼과 DTO의 userEmail 프로퍼티를 연결 -->
        <result column="user_email" property="userEmail" />
    </resultMap>

    <!-- 모든 사용자 정보를 조회하기 위한 select 쿼리 정의 -->
    <select id="selectAllUsers" resultMap="users">
        select * from users
    </select>
    
    <!-- 특정 loginId와 password로 사용자 정보를 조회하기 위한 select 쿼리 정의 -->
    <select id="selectUserByLoginIdAndPassword" resultMap="users">
        SELECT * 
        FROM users 
        WHERE login_ID = #{loginId} AND password = #{password}
    </select>
</mapper>