<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- 빨간 밑줄 : eclipse 버그 있음  -->
<configuration>
    <!-- 개발 환경 설정, 기본값으로 'development' 환경을 사용 -->
    <environments default="development">
        <!-- 개발 환경 ID 'development' 지정 -->
        <environment id="development">
            <!-- 트랜잭션 관리 방식 설정, JDBC를 직접 사용 -->
            <!-- 트랜잭션 관리 방식은 MyBatis가 데이터베이스와의 연결에서 트랜잭션을 어떻게 제어할 것인지 결정합니다. -->
            <!-- 여기서는 'JDBC' 방식으로 지정하여, 자바 애플리케이션에서 직접 트랜잭션을 제어하도록 설정합니다. -->
            <transactionManager type="JDBC" />
            
            <!-- 데이터 소스 설정, POOL 방식을 사용하여 커넥션을 관리 -->
            <!-- 데이터 소스를 'POOLED'로 설정하여 커넥션 풀을 사용합니다. -->
            <!-- 커넥션 풀을 사용하면 데이터베이스 연결을 재사용할 수 있어 성능을 향상시킬 수 있습니다. -->
            <dataSource type="POOLED">
                <!-- 오라클 JDBC 드라이버 지정 -->
                <!-- 데이터베이스에 연결하기 위한 오라클 JDBC 드라이버 클래스 이름을 지정합니다. -->
                <property name="driver" value="oracle.jdbc.OracleDriver" />
                
                <!-- 데이터베이스 연결 URL 지정 -->
                <!-- 데이터베이스에 연결하기 위한 URL을 지정합니다. -->
                <!-- 여기서는 오라클 데이터베이스의 로컬 인스턴스 (호스트: 127.0.0.1, 포트: 1521, SID: xe)에 연결합니다. -->
                <property name="url"
                    value="jdbc:oracle:thin:@127.0.0.1:1521/xe" />
                
                <!-- 데이터베이스 사용자 이름 지정 -->
                <!-- 데이터베이스에 접속하기 위한 사용자 계정을 지정합니다. -->
                <property name="username" value="C##SCOTT"/>
                
                <!-- 데이터베이스 비밀번호 지정 -->
                <!-- 데이터베이스 계정에 대한 비밀번호를 지정합니다. -->
                <property name="password" value="TIGER"/>
            </dataSource>
        </environment>
    </environments>
    
    <!-- 매퍼 파일들을 설정, SQL 매핑 파일 경로를 지정 -->
    <!-- MyBatis에서 사용할 SQL 매핑 파일을 지정합니다. -->
    <mappers>
        <!-- 'member-mapper.xml' 매퍼 파일 등록 -->
        <!-- 'member-mapper.xml' 파일은 SQL 쿼리를 정의하고 이를 Java 코드와 매핑하기 위한 매퍼 파일입니다. -->
        <!-- 이 파일의 경로를 지정하여 MyBatis가 SQL 쿼리와 Java 메서드를 매핑할 수 있도록 설정합니다. -->
        <mapper resource="config/member-mapper.xml" />
        
        <!-- 'major-mapper.xml' 매퍼 파일 등록 -->
        <!-- 'major-mapper.xml' 파일 역시 SQL 쿼리를 정의하고 매핑하기 위한 파일입니다. -->
        <!-- 이 파일을 등록함으로써, MyBatis가 major와 관련된 데이터베이스 작업을 처리할 수 있게 됩니다. -->
        <mapper resource="config/major-mapper.xml" />
    </mappers>
</configuration>
