<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- UsersMapper: 사용자 관련 데이터베이스 작업을 위한 Mapper -->
<mapper namespace="mapper.UsersMapper">

    <!-- 사용자 데이터를 매핑하기 위한 resultMap -->
    <!-- 데이터베이스 결과를 dto.UsersDTO 클래스의 필드에 매핑 -->
    <resultMap type="dto.UsersDTO" id="users">
        <!-- 사용자 번호 (Primary Key) -->
        <id column="user_number" property="userNumber" />
        <!-- 로그인 ID -->
        <result column="login_ID" property="loginId" />
        <!-- 닉네임 -->
        <result column="nick_name" property="nickName" />
        <!-- 계정 생성 시간 -->
        <result column="create_time" property="createTime" />
        <!-- 계정 수정 시간 -->
        <result column="update_time" property="updateTime" />
        <!-- 비밀번호 수정 시간 -->
        <result column="pw_update_time" property="pwUpdateTime" />
        <!-- 사용자 이름 -->
        <result column="user_name" property="userName" />
        <!-- 사용자 이메일 -->
        <result column="user_email" property="userEmail" />
    </resultMap>

    <!-- 모든 사용자 데이터를 조회하는 쿼리 -->
    <!-- selectAllUsers: 전체 사용자 데이터를 조회 -->
    <select id="selectAllUsers" resultMap="users">
        SELECT * FROM users
    </select>
    <!-- 로그인 아이디와 비밀번호로 사용자 정보를 가져오는 쿼리 -->
	<select id="selectUserLogin" parameterType="map" resultMap="users">
		SELECT * FROM users
		WHERE login_id = #{loginId} AND password = #{password}
	</select>
	
	

</mapper>
